tomli
langchain>=0.1.0
openai
langchain_openai
tiktoken
unstructured[all-docs]
tqdm
sentence-transformers==2.2.2
InstructorEmbedding
chromadb
pinecone-client
redis
pgvector
psycopg2-binary
pymongo
elasticsearch
chainlit
fireworks-ai
anthropic
