tomli
langchain>=0.1.0
openai
langchain_openai
langchain_anthropic
langchain_fireworks
langchain_mongodb
langchain_pinecone
langchain-postgres
langchain-elasticsearch
tiktoken
unstructured[all-docs]
tqdm
sentence-transformers==2.2.2
InstructorEmbedding
chromadb
pinecone-client
redis
neo4j
pgvector
psycopg-binary
pymongo
elasticsearch
chainlit>=1.0.0
fireworks-ai
anthropic
loguru
